.hero {
  background-color: var(--color-dark);
  padding: 64px 0 80px;
}

.hero-inner {
  display: flex;
  align-items: center;
  gap: 48px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--color-hero-text);
  line-height: 1.15;
  margin-bottom: 16px;
}

.hero-text .hero-sub {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-secondary);
  margin-bottom: 28px;
  max-width: 400px;
}

.hero-image {
  flex: 1;

}

.hero-image img {
  border-radius: 5px;
}

.info-section {
  padding: 64px 0;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 800;
  color: var(--color-dark);
  text-align: center;
  margin-bottom: 40px;
}


/* ============================
   INFO SECTION
   ============================ */


.cards-layout {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  flex: 1 1 170px;
  max-width: 210px;
  min-width: 0;
}

.card-media img {
 width: 100%;
 aspect-ratio: 1 / 1;
 object-fit: cover;
 border: 3px solid var(--color-blue);
 border-radius: 2px;

}

.card figcaption{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark);
  text-align: center;
  line-height: 1.5;
  margin-top: 10px;
}
@media screen and (max-width:768px) {
  .hero-inner {
  flex-direction: column-reverse;
}


.hero-text h1 {
  font-size: 24px;
}

.hero-text .hero-sub {
  font-size: 12px;
}
}


@media screen and (max-width:600px) {

.cards-layout {
  width: 100%;
  flex-direction: column;
}
  .card {
    max-width: none;
    width: 100%;
    flex: none;
  }

.card-media{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
  .card-media img {
    width: 50dvi;

  }

  .card figcaption {
    flex: 1;
    min-width: 0;
    margin-top: 0;
    text-align: left;
    padding: 0.5rem;
  }

}
