.hero {
  background-color: var(--color-dark);
  padding: 64px 0 80px;
}

.hero-inner {
  display: flex;
  align-items: center;
  gap: 48px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--color-hero-text);
  line-height: 1.15;
  margin-bottom: 16px;
}

.hero-text .hero-sub {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-secondary);
  margin-bottom: 28px;
  max-width: 400px;
}

.hero-image {
  flex: 1;

}

.hero-image img {
  border-radius: 5px;
}

.info-section {
  padding: 64px 0;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 800;
  color: var(--color-dark);
  text-align: center;
  margin-bottom: 40px;
}


/* ============================
   INFO SECTION
   ============================ */


.cards-layout {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  flex: 1 1 170px;
  max-width: 210px;
  min-width: 0;
}

.card-media img {
 width: 100%;
 aspect-ratio: 1 / 1;
 object-fit: cover;
 border: 3px solid var(--color-blue);
 border-radius: 2px;

}

.card figcaption{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark);
  text-align: center;
  line-height: 1.5;
  margin-top: 10px;
}

/* ============================
   QUOTE SECTION
   ============================ */
.quote-section {
  background-color: var(--color-quote-bg);
  padding: 72px 0;
}

.quote-inner {
  max-width: 680px;
}

blockquote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: var(--color-dark);
  line-height: 1.4;
  margin-bottom: 20px;
}

blockquote cite {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark);
  text-align: right;
}

